extends layout

block content
  .container
    .jumbotron
      h3 Welcome to Task Tracker!

      p
        | This app allows you to keep track of any sort of task, as well as update and delete them as needed