extends layout

block content
  .container
    form(name="update",method="post",action="/updatetask/#{task.id}")
      br(style='clear:both')
      h3 Update Task Form
      .form-group
        input#inputTaskName(type='text', name='task', placeholder='#{task.task}', autofocus, required='', pattern="[a-zA-Z ]+", title="Text only, no numbers or special characters")
      .form-group
        input#inputTaskDesc(type='text', name='desc', placeholder='#{task.description}', required='')
      .btn-toolbar(role="toolbar", aria-label="Toolbar of buttons")
        button.btn.btn-primary(type='submit', name='updatetask') Update Task
        a( href="/tasklist").btn.btn-primary#btnCancel
          | Cancel